

h1{color: aqua; background-color: blanchedalmond;}
h2{color:blue;background-color: crimson;}
.mytable{background-color:lightpink;font-size: larger;font-style: italic;text-align: center;}
tr{text-align: center}
td{background-color:lightpink;}




    